* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  .container {
    size: 7in 9.25in;
    margin: 10mm 18mm 10mm 18mm;
    background: gray;
    height: 675px;
  }  
  #resname {
    float: left;
  }
  #mail {
    font-size: 15px;
    left: 100px;
    margin-top: 25px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    color: white;
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  ul.social li a{
      padding: 5px;
      font-size: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  #aboutcard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 775px;
  }
  
  .photocard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 775px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact{
      margin-top: 5px;
  }
  img {
      border-radius: 8px;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  .fa {
    padding: 10px;
    font-size: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-gitlab {
    background:orange;
    color: white;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  .linkedin {
    background-color: yellow;
    padding: 20px;
    display: none;
  }
  
  .fa:hover + .linkedin{
      display: block;
  }
  ul#listsocial li {
          display: inline;
          padding-right: 5px;
          text-align: center;
      }
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

a{
  text-decoration: none;
}