<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    div#loading {
      display: none;
      background: url("/static/loader.gif") no-repeat;
      background-color: white;
      background-position: center;
      background-size: 150px 150px;
      padding: 20px;
      margin-top: 20px;
      height: 775px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script type="text/javascript">// <![CDATA[
    function preloader() {
      document.getElementById("loading").style.display = "block";
      document.getElementById("aboutcard").style.display = "none";
    }//preloader
    // ]]>
  </script>
</head>

<body>
  <div class="navbar">
  </div>
  <div class="row">
    <div class="leftcolumn">
      <div id="loading"></div>
      <div id="aboutcard">
        <h3>Drift map output</h3>
        <img src="{{ user_image }}" , width="700" , height="600" , class="center"><br>
        <p></p>
        <a href="ftp://dory-dev.cs.dal.ca/CIOPS-E/DriftMap/2016/{{output_file}}" download>
          <input type="button" value="File Download">
        </a>
      </div>
    </div>
    <div class="rightcolumn">
      <form method="GET" action="">
        <div class="photocard">
          <p>Ocean Models</p><br>
          <select name="model" id="select" onchange="getNewVal(this);">
          </select>
          <p>Bounding Box</p><br>
          <input type="text" name="BoundingBox" id="bbox" value="{{ settings[1] }}"><br>
          <p>Date</p><br>
          <input type="text" name="Date" id="datepicker" value="{{ settings[2] }}" style="display:block"><br>
          <input type="text" name="Date2" id="datepicker2" value="{{ settings[2] }}" style="display:none"><br>
          <p>Duration (Hours)</p>
          <select name="duration" id="duration">
            <option value="{{ settings[3] }}">{{ settings[3] }} </option>
          </select><br>
          <p id='tester'></p>
          <p></p>
          <input type="submit" onclick="dej();" value="Submit">
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
          <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
          <script src="/static/main.js"></script>
          <script>
            $(document).ready(function () {
              console.log(document.getElementById("bbox").value);
              document.getElementById("bbox").value = document.getElementById("bbox").value;
              var select = document.getElementById("select");
              var du_select = document.getElementById("duration");
              var getther = '{{ model_metadata|tojson }}';
              var m = JSON.parse(getther);
              var keys = Object.keys(m);
              var model_list = [];
              let start_date;
              let end_date;

              //$.getJSON('/ocean_models', {}, function (data) {
              // console.log(data[0].duration_list);
              //});
              //let select = document.getElementById('models');
              for (var i = 0; i < keys.length; i++) {
                models = m[i].model;
                model_list.push(models);
              };
              for (var i = 0; i < model_list.length; i++) {
                var option = document.createElement("OPTION"),
                  txt = document.createTextNode(model_list[i]);
                option.appendChild(txt);
                option.setAttribute("value", model_list[i]);
                select.insertBefore(option, select.lastChild);
              };
              document.getElementById("select").value = "{{ settings[0] }}";
              function getNewVal(item) {
                //console.log(item.value)
                $('#duration').empty();
                $('#duration').append('<option value="duration">duration</option>');
                $(function () {
                  if (item.value == 'RIOPS') {
                    $("#datepicker2").hide();
                    $("#datepicker").show();
                    start_date = m[1].start_date;
                    end_date = m[1].end_date;
                    $("#datepicker").datepicker(
                      {
                        dateFormat: 'yy-mm-dd',
                        minDate: new Date(start_date),
                        maxDate: new Date(end_date)
                      });
                    for (var i = 0; i < m[1].duration_list.length; i++) {
                      var option = document.createElement("OPTION"),
                        txt = document.createTextNode(m[1].duration_list[i]);
                      option.appendChild(txt);
                      option.setAttribute("value", m[1].duration_list[i]);
                      du_select.add(option, du_select.lastChild);
                    };
                  } else if (item.value == 'CIOPS-E') {
                    $("#datepicker").hide();
                    $("#datepicker2").show();
                    $("#datepicker2").datepicker(
                      {
                        dateFormat: 'yy-mm-dd',
                        minDate: new Date(m[0].start_date),
                        maxDate: new Date(m[0].end_date)
                      });
                    for (var i = 0; i < m[0].duration_list.length; i++) {
                      var option = document.createElement("OPTION"),
                        txt = document.createTextNode(m[0].duration_list[i]);
                      option.appendChild(txt);
                      option.setAttribute("value", m[0].duration_list[i]);
                      du_select.add(option, du_select.lastChild);
                    };
                  };
                });
              };
            });
          </script>
        </div>
      </form>
    </div>
  </div>

  <div class="footer">
    <p>© 2019 · Drift map</p>
  </div>

</body>

</html>