<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
    div#loading {
    display: none;
    background: url("/static/loader.gif") no-repeat;
    background-color: white;
    background-position: center; 
    background-size: 150px 150px;
    padding: 20px;
    margin-top: 20px;
    height: 775px;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">// <![CDATA[
  function preloader(){
      document.getElementById("loading").style.display = "block";
      document.getElementById("aboutcard").style.display = "none";
  }//preloader
// ]]>
  let start_date = '{{ model_metadata[0] }}';
  let end_date = '{{ model_metadata[1] }}';
  $(function() {
          $( "#datepicker" ).datepicker(
            { dateFormat: 'yy-mm-dd', 
            minDate: new Date(start_date), 
            maxDate: new Date(end_date) });
      });
</script>
</head>
<body>
<div class="navbar">
</div>
<div class="row">
  <div class="leftcolumn">
    <div id="loading"></div>
    <div id="aboutcard">
      <h3>Drift map output</h3>
      <img src="{{ user_image }}", width="700", height="600", class="center">
    </div> 
  </div>
  <div class="rightcolumn">
    <form method="GET" action="\index">
    <div class="photocard">
      <p>Select Dataset</p><br>
      <select name="model">
        <option value="CIOPS-E">CIOPS-E</option>
      </select><br>
      <p>Bounding Box</p><br>
      <input type="text" name="BoundingBox"><br>
      <p>Date</p><br>
      <input type="text" name="Date" id="datepicker"><br>
      <p>Duration (Hours)</p>
      <select name="duration"> 
      {%for i in range(0, len)%} 
        <option value="{{duration[i]}}">{{duration[i]}}</option>> 
      {%endfor%} 
      </select><br>
      <p></p>
      <input type="submit" onclick="preloader();" value="Submit">
    </div>
    </form>
  </div>
</div>

<div class="footer">
    <p>© 2019 · Drift map</p>
</div>

</body>
</html>
